#main {
  @include list-flex();
  width: 100%;
  margin: 0 auto;
}

#users {
  @include list-flex();

  width: calc(100% - 3em);

  margin: 0 auto;
}

.list {
  @include list-flex('users-list');
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;

  @include transitions();

  & > * {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
  }
  & > *:last-child {
    border-bottom: 1px solid #000000;
  }
}

a {
  @include list-flex('link');

  @extend %fontText;

  @include transitions();

  &:hover {
    color: $color-complement-0;
    @include transitions();
  }
}

@media screen and (max-width: 768px) {
  #users {
    width: calc(100% - 1em);
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include transitions();
  }
}

@media screen and (max-width: 1200px) {
  #users {
    width: calc(100% - 2em);
  }

  .list {
    margin-top: 3em;
  }
}

@media screen and (max-width: 500px) {
  .list {
    margin-top: 8em;
  }
}
