#wrapper {
  @include list-flex('modalWindow');
  position: fixed;
  z-index: 9999;

  width: 100%;
  height: 100vh;

  background-color: $color_wrapper;
}

.modal {
  position: absolute;

  width: 500px;
  margin-top: 3em;

  @include border-radius(1em, 1em, 1em, 1em);

  background-color: $color-white;

  & div {
    padding: 0 1em;
  }

  & div:last-child {
    padding: 0 1em 1em 1em;
  }

  & p {
    @extend %fontTextModalWindow;
  }

  & span {
    color: $color-complement-3;
    padding-left: 1em;

    @include transitions();
  }

  &-nick {
    @include list-flex('modalWindowNickName');
    @extend %fontTextModalWindowNick;

    width: 100%;

    margin-bottom: 15px;

    background-color: $color-complement-3;

    @include border-radius(0, 0, 0, 2em);
  }

  &-name {
    @extend %fontTextModalWindowName;

    & span {
      padding-left: 1em;
    }
  }

  &-info {
    @include list-flex('modalWindowInfo');

    & a span {
      @include transitions();

      &:hover {
        color: $color-primary-2;
      }
    }

    &__email {
      &::before {
        content: '\0040';
        position: relative;
        top: -4px;

        font-size: 1.3em;
      }
    }

    &__phone {
      &::before {
        content: '\2706';
        font-size: 1.3em;
      }
    }

    &__website {
      &::before {
        content: '\04BC';
        font-size: 1.3em;
      }
    }
  }

  &-info::after,
  &-address::after {
    content: '';
    width: 70%;
    height: 1px;

    margin: 0 auto;
    margin-top: 0.5em;

    background-color: $color-primary-2;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: calc(100% - 2em);
  }
}
@media screen and (min-width: 600.1px) and (max-width: 768.1px) {
  .modal {
    width: calc(100% - 5em);
  }
}
