$color_white: rgb(255, 255, 255);

$color-primary-0: rgba(0, 179, 88, 1); /* Основной Цвет */
$color-primary-1: rgba(34, 134, 83, 1);
$color-primary-2: rgba(0, 116, 57, 1);
$color-primary-3: rgba(54, 217, 134, 1);
$color-primary-4: rgba(98, 217, 156, 1);

$color-complement-0: rgba(255, 61, 0, 1); /* Дополнительный Цвет */
$color-complement-1: rgba(191, 82, 48, 1);
$color-complement-2: rgba(166, 40, 0, 1);
$color-complement-3: rgba(255, 110, 64, 1);
$color-complement-4: rgba(255, 148, 115, 1);
